@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

a {
    text-decoration: none;
}



/** ------------ BODY ANY ------------ */

.imgLogo {
    height: 40px;
    text-align: center;
}

.logo-top {
    height: 40px;
}

.welcome {
    font-size: 15px;
    text-align: center;
}

.header-app {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
	padding: 10px;
    border-bottom: solid 1px #848484;
    margin-bottom: 15px;
}

header img {
    height: 30px;
}

body {
    background-color: #0A0A0A;
    width: 300px;
    height: 400px;
    padding: 10px;
    font-size: 18px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.write-review {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: #0A0A0A; /* Set the background color to black */
    color: white; /* Set the text color to white */
    padding: 20px; /* Add some padding for better spacing */
  }
  
  .write-review h3 {
    margin-bottom: 10px; /* Add some margin below the heading */
  }
  
  .write-review input[type="number"],
  .write-review textarea {
    background-color: #0A0A0A; /* Set the background color of the input and textarea to black */
    color: white; /* Set the text color of the input and textarea to white */
    padding: 10px; /* Add some padding */
    margin-bottom: 10px; /* Add some margin below the input and textarea */
  }
  
  .write-review textarea {
    resize: vertical; /* Allow vertical resizing of the textarea */
  }
  
  .write-review button {
    background-color: #2A14AF;
    color: white; /* Set the text color of the button to black */
    padding: 10px 20px; /* Add some padding */
    cursor: pointer; /* Change the cursor to a pointer on hover */
    border-radius: 5px;
    font-weight: bold;
  }
  
  .write-review button:hover {
    background-color: #200d8c;
  }
  

.title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
}

h2 {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 20px;
}

.inp {
    border-radius: 10px;
    padding-left: 20px;
    margin-bottom: 10px;
    height: 30px;
    border: none;
    background-color: #e7e7e7;
}

#subSignInBtn,
#subSignUpBtn {
    border-radius: 10px;
    /* padding: 10px 15px; */
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: 30px;
    background-color: #2A14AF;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: none;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
}

#subSignInBtn:hover,
#subSignUpBtn:hover {
    background-color: #200d8c;
}

.btn2 {
    background-color: #0a0a0a00;
    font-size: 12px;
    color: rgb(213, 213, 213);
    font-weight: 400;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.home-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.btn2:hover {
    color: rgb(181, 181, 181);
}

#rating-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.rating-page:h2 {
    margin-bottom: 10px;
}

#current-user2 {
    font-size: 24px;
    font-weight: bold;
}

.user-rating {
    font-size: 18px;
    margin-bottom: 20px;
}

.comments {
    font-size: 24px;
    margin-bottom: 10px;
}

.user-comments {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-comment {
    background-color: #222;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
}
/* ---------- */

#imgProfile {
    height: 40px;
    background-color: #848484;
}

h4 {
    font-size: 15px;
    color: #aaaaaa;
}

.comment {
    /* height: 70px; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 10px;
    align-items: center;
    margin: 20px 0;
}

.comment img {
    height: 60px;
    margin-right: 10px;
    border-radius: 50px;
}

.nameComment {
    font-size: 15px;
}

.ArrComment {
    font-size: 10px;
}

.inp2 {
    background-color: #1d1d1d;
    border: solid 3px white;
    border-radius: 10px;
    height: 30px;
    margin: 10px 0;
}

#subBtn2 {
    border-radius: 10px;
    /* padding: 10px 15px; */
    /* margin-top: 10px; */
    /* margin-bottom: 10px; */
    width: 100%;
    height: 30px;
    background-color: #2A14AF;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: none;
    font-size: 10px;
    font-weight: 500;
    cursor: pointer;
}

#subBtn2:hover {
    background-color: #200d8c;
}

#myRange {
    width: 100%;
    color: #2A14AF;
}

.formSignUp,
.formSignIn {
    margin-top: 10px;
}

.formSession {
    display: flex;
    flex-direction: column;
    justify-content: center;
}